@model Lesson3_CNLTWeb.Models.Book
<div class="container mt-4">
    <h2>Thêm Sách Mới</h2>
    <form asp-action="Create">
        <div class="mb-3">
            <label asp-for="Title" class="form-label">Tiêu đề</label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Author" class="form-label">Tác giả</label>
            <input asp-for="Author" class="form-control" />
            <span asp-validation-for="Author" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Price" class="form-label">Giá tiền</label>
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Lưu lại</button>
        <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
    </form>
</div>