<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Quản Lý Phòng Trọ</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css">
</head>
<body class="bg-light">
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom shadow-sm mb-4 sticky-top transition-nav">
            <div class="container">
                <a class="navbar-brand fw-bold text-primary" asp-area="" asp-controller="Rooms" asp-action="Index">
                    <i class="bi bi-house-door-fill me-1"></i> PT Management
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item mx-2">
                            <a class="nav-link custom-hover" asp-area="" asp-controller="RoomTypes" asp-action="Index">
                                <i class="bi bi-tags"></i> Loại Phòng
                            </a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link custom-hover" asp-area="" asp-controller="Rooms" asp-action="Index">
                                <i class="bi bi-door-open"></i> Danh sách Phòng
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container bg-white p-4 rounded shadow-sm">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted mt-5 bg-white">
        <div class="container py-3">
            &copy; 2026 - PT Management System - SVTH: BIT240041
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>